body{background: linear-gradient(rgb(255, 39, 39),rgb(231, 12, 202));

    background-size: cover;
    min-height: 100vh;
     }
    
    .container {
        text-align: center;
        
    
    }
    
    table {border: black solid 2px;
        margin: auto;
        padding: 24px;
        border-radius:6px;
        background-color: aquamarine;
    
    
    
    }